<div class="container">
    <h2>
        Crypto tracker
    </h2>
    <div class="divider"></div>
    <ul class="crypto-list">
        <li class="crypto-item">  
           <img class="logo" src="../../../assets/crypto icons/btc.svg" alt="" class="logo">
            <p>Name:</p>
            <p>Price:</p>
        </li>
        <li class="crypto-item">  
            <img class="logo" src="../../../assets/crypto icons/eth.svg" alt="" class="logo">
             <p>Name:</p>
             <p>Price:</p>
         </li>
         <li class="crypto-item">  
            <img class="logo" src="../../../assets/crypto icons/usdt.svg" alt="" class="logo">
             <p>Name:</p>
             <p>Price:</p>
         </li>
         <li class="crypto-item">  
            <img class="logo" src="../../../assets/crypto icons/bnb.svg" alt="" class="logo">
             <p>Name:</p>
             <p>Price:</p>
         </li>
         <li class="crypto-item">  
            <img class="logo" src="../../../assets/crypto icons/busd.svg" alt="" class="logo">
             <p>Name:</p>
             <p>Price:</p>
         </li>
         <li class="crypto-item">  
            <img class="logo" src="../../../assets/crypto icons/xrp.svg" alt="" class="logo">
             <p>Name:</p>
             <p>Price:</p>
         </li>
         <li class="crypto-item">  
            <img class="logo" src="../../../assets/crypto icons/doge.svg" alt="" class="logo">
             <p>Name:</p>
             <p>Price:</p>
         </li>
         <li class="crypto-item">  
            <img class="logo" src="../../../assets/crypto icons/ada.svg" alt="" class="logo">
             <p>Name:</p>
             <p>Price:</p>
         </li>
         <li class="crypto-item">  
            <img class="logo" src="../../../assets/crypto icons/matic.svg" alt="" class="logo">
             <p>Name:</p>
             <p>Price:</p>
         </li>
         
    </ul>
</div>