<h2>Coin name / Coin symbol</h2>
<div class="container">
    <div class="image-container">
        <img class="crypto-image" src="https://img.freepik.com/premium-photo/eth-ethereum-icon-logo-black-flag-banner-background-concept-3d-illustration-cryptocurrency_309402-3.jpg?w=1060" alt="img">
    </div>
    <p class="detail-information">Ethereum is a decentralized blockchain platform that establishes a peer-to-peer network that securely executes and verifies application code, called smart contracts. Smart contracts allow participants to transact with each other without a trusted central authority.It is traded as a digital currency on exchanges, held as an investment, used to purchase goods and services, and used on the Ethereum network to pay transaction fees.</p>
</div>
<div class="facts">
  <h2>Facts</h2>
   <ul class="facts-list">
    <li class="facts-item">
        <img src="../../../assets/crypto-details/founder.png" alt="" class="logo">
        <p class="facts-content">Founder: Vitalik Buterin. Buterin is a co-founder and inventor of Ethereum, described as a "decentralised mining network and software development platform rolled into one" that facilitates the creation of new cryptocurrencies and programs that share a single blockchain (a cryptographic transaction ledger).</p>
    </li>
    <li class="facts-item">
        <img src="../../../assets/crypto-details/did-you-know.png" alt="" class="logo">
        <p class="facts-content">Coins in circulation: 117.5 million ETH coins in circulation</p>
    </li>
    <li class="facts-item">
        <img src='../../../assets/crypto-details/fun-fact.png' alt="" class="logo">
        <p class="facts-content">Ethereum Testnets named after Metro Station.Ethereum blockchain has 5 testnets i.e Goerli, Sepolia, Ropsten, Rinkeby & Koven. All the testnets are named after metro stations. For example, Goerli is named after a metro station in Berlin, Germany.</p>
    </li>
   </ul>
</div>
<div class="payment">
    <img src="../../../assets/crypto-details/adrees.PNG" alt="">
    <p class="payment-text">If you appreciate the content you can donate some sats</p>
</div>