<h2>{{crypto?.name}} / {{crypto?.symbol}}</h2>
<div class="container">
    <div class="image-container">
        <img class="crypto-image" src={{crypto?.imgUrl}} alt="img">
    </div>
    <p class="detail-information">{{crypto?.description}}</p>
</div>
<div class="facts">
  <h2>Facts</h2>
   <ul class="facts-list">
    <li class="facts-item">
        <img src="../../../assets/crypto-details/founder.png" alt="" class="logo">
        <p class="facts-content">Founder: {{crypto?.facts?.founder}}</p>
    </li>
    <li class="facts-item">
        <img src="../../../assets/crypto-details/did-you-know.png" alt="" class="logo">
        <p class="facts-content">Coins in circulation: {{crypto?.facts?.coins}}</p>
    </li>
    <li class="facts-item">
        <img src='../../../assets/crypto-details/fun-fact.png' alt="" class="logo">
        <p class="facts-content">{{crypto?.facts?.funFact}}</p>
    </li>
   </ul>
</div>
<div class="payment">
    <img src="../../../assets/crypto-details/adrees.PNG" alt="">
    <p class="payment-text">If you appreciate the content you can donate some sats</p>
</div>