/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@300&display=swap');

* {
    font-family: 'Courgette', cursive;
    font-family: 'Kalam', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html { 
    background: url(../src/assets/w12.jpg) no-repeat center center fixed;  
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
  }

  body{
    margin: auto;
    position: relative;
    min-height: 100vh;
  }
