form {
    display: flex;
    align-items: center;
    color: aqua;
    width: 50%;
    height: 50%;
    justify-items: center;
    margin: 0 auto;
    gap: 10px;
    padding: 20px;
    border-radius: 2rem;
    background-color: rgba(23, 23, 50, 0.7);
  }
  
  .img-container {
    width: 50%;
    height: 50%;
    border-right: solid 1px;
    padding: 15px;
    
  }
   
  img {
    width: 100%;
    height:100%;
    object-fit: fill;
    border-radius: 2rem;
  }

  
  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    gap: 15px;

  }
  
  .price {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 9px;
  }
  
  label {
    margin-right: 10px;
  }
  
  .options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .size, .gender, .quantity {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    gap: 9px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #03e9f4;
    border-radius: 4px;
    color: black;
  }
  
  button {
    width: 30%;
    padding: 10px;
    background-color: #03e9f4;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
   
  
.no-data a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }

  button:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }

  .no-data a{
    width: 30%;
    padding: 10px;
    background-color: #03e9f4;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }

  .no-data {
    color: aqua;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 2em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .error{
    margin: 0 auto;
    color: aqua;
    margin-bottom: 10px;
    padding: 0;
    width: 300px;
    height: min-content;
    text-align: center;
  }