h2 {
    text-align: center;
    color: aqua;
  }
  
  .cards-list {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(3,250px);
      justify-content: center;
      margin: 0 auto;
      gap: 50px;
      background-color: rgba(23, 23, 50, 0.7);
      border-radius: 2rem;
      
    }
    
    .card a {
      text-decoration: none;
      color: white;
    }
    
    .card {
      margin: 30px auto;
      width: 250px;
      height: 250px;
      border-radius: 40px;
      box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
      cursor: pointer;
      transition: 0.4s;
    }
    
    .card .card_image {
      width: inherit;
      height: inherit;
      border-radius: 40px;
    }
    
    .card .card_image img {
      width: inherit;
      height: inherit;
      border-radius: 40px;
      object-fit:fill
    }
    
    .card .card_title {
      text-align: center;
      border-radius: 0px 0px 40px 40px;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 15px;
      margin-top: -80px;
      height: 40px;
    }
    
    .card,.no-data a:hover {
      transform: scale(0.9, 0.9);
      box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
        -5px -5px 30px 15px rgba(0,0,0,0.22);
    }
    
    .title-white {
      color: white;
    }
    
    .title-black {
      color: black;
    }

    .no-data {
      color: aqua;
      width: 50%;
      text-align: center;
      margin: 0 auto;
      background-color: rgba(23, 23, 50, 0.7);
      border-radius: 2em;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .no-data a{
      text-decoration: none;
      color: aqua;
      border: solid 2px;
      padding: 10px;
      border-radius: 2rem;
      width: 20%;
    }

    
  
    @media all and (max-width: 500px) {
      .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
      }
    }


    