  
   <h2>Memes Collection</h2>
<ng-container *ngIf="memesData?.length==null">
    <app-spinner></app-spinner>
  </ng-container>

 

  <ng-container *ngIf="memesData?.length!==null">
    
    <div class="cards-list">
    
      <div *ngFor="let meme of memesData"  class="card 1" >
        <div (click)="clickHandler(meme._id)"   class="card_image"> <img src={{meme.imgUrl}} /> </div>
        <div class="card_title title-white">
        </div>
        
      </div>
      
      </div>
  </ng-container>
  

