<div class="login-box">
    <h2>Login</h2>
   
      <p class="error" *ngIf="error | async">
        {{error | async | json}}
      </p>

   
    
    <form #form="ngForm" (ngSubmit)="loginHandler(form)">
      <div class="user-box">
        <input #emailInput="ngModel" type="text" 
         ngModel name="email"  email required>
        <!-- {{emailInput.errors | json }} -->
        <ng-container *ngIf="emailInput.touched">
          <p class="error" *ngIf="emailInput.errors?.['required']">
               Email is required
          </p>
          <p class="error" *ngIf="emailInput.errors?.['email']">
            Email is in the wrong format
          </p>
        </ng-container>
        
        <label>Username</label>
      </div>
      <div class="user-box">
        <input #passwordInput="ngModel" type="password" 
        ngModel name="password"  minlength="6" required>
        <label>Password</label>
        <ng-container *ngIf="passwordInput.touched">
          <p class="error" *ngIf="passwordInput.errors?.['required']">
            Password is required
         </p>
          <p class="error" *ngIf="passwordInput.errors?.['minlength']">
            Password should be at least 6 symbols
          </p>
        </ng-container>
      </div>
      
       
      <button>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
  </div>