<h1>Crypto dictionary</h1>
<nav>
  <ul class="main">
    <li>
      <a routerLink="">Home</a>
      <ul class="drop menu1">
        <li><a href="#">Home</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </li>
    <ng-container *ngIf="!auth">
      <li><a routerLink="/login">Login</a>
     
      </li>
      <li><a routerLink="/register">Register</a>
        
      </li>
    </ng-container >
     <ng-container *ngIf="auth">
      <li><a routerLink="/logout">Logout</a>
     
      </li>
     </ng-container>
   
  </ul>
</nav>
