<h1>Crypto dictionary</h1>
<nav>
  <ul class="main">
    <li>
      <a routerLink="">Home</a>
      <ul class="drop menu1">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/news">News</a></li>
        <li><a routerLink="/memes">Memes</a></li>
      </ul>
    </li>
    <ng-container *ngIf="!isUserAuthenticated">
      <li><a routerLink="/login">Login</a>
     
      </li>
      <li><a routerLink="/register">Register</a>
        
      </li>
      <li><a routerLink="/news">News</a>
        
      </li>
      <li><a routerLink="/memes">Memes</a>
        
      </li>
      <li><a routerLink="/store">Store</a>
        
      </li>
    </ng-container >
     <ng-container *ngIf="isUserAuthenticated">
    
      <li><a routerLink="/profile">Profile</a>
        <ul class="drop menu1">
          <li><a routerLink="/profile/collection">My memes</a>
          </li>
          <li><a routerLink="/memes/add">Add meme</a>
          </li>
          <li><a routerLink="/profile/orders">My orders</a></li>
        </ul>
      </li>
  
      <li><a routerLink="/store">Store</a>
        
      </li>
    

      <li><a routerLink="store/card" >Card</a>
      </li>
      <li><a routerLink="/logout">Logout</a>
      </li>
     </ng-container>
   
  </ul>
</nav>
