.container {
    color: aqua;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 2rem;
}

.container .news {
    list-style: none;
    width: 100%;
}

.container .news .news-content {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.container .news .news-content a {
    text-decoration: none;
    color: aqua;
    width: 10%;
    padding: 10px;
    border-radius: 2rem;
    background-color: rgba(23, 23, 50, 0.7);
    border: 1px solid
}

.container .news .news-content img {
    width: 30%;
    height: 250px;
    border-radius: 20px;
    object-fit: fill;
    border: 1px solid
}

.container .news .news-content .description {
    width: 40%;
    border: 1px solid ;
    background-color: rgba(23, 23, 50, 0.7);
    padding: 50px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
  
}

