
    <div class="login-box">
      <h2>Create</h2>
      <form #form="ngForm" (ngSubmit)="createHandler()">
        <div class="user-box">
          <input #titleInput="ngModel" type="text"  ngModel name="title"  required minlength="4"  >
          <label>Title</label>
          <ng-container *ngIf="titleInput.touched">
            <p class="error" *ngIf="titleInput.errors?.['required']">
              Title is required
           </p>
            <p class="error" *ngIf="titleInput.errors?.['minlength']">
              Title should be at least 4 symbols
            </p>
          </ng-container>
        </div>
        <div class="user-box">
          <input #imageInput="ngModel" type="text"  ngModel name="imgUrl"  required >
          <label>Image URL</label>
          <ng-container *ngIf="imageInput.touched">
            <p class="error" *ngIf="imageInput.errors?.['required']">
              Image is required
           </p>
          </ng-container>
        </div>
        <button>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Create
        </button>
      </form>
    </div>
  

  
