<section class="facts">
    <h2>Did you know ?</h2>
    <div class="divider">
    </div>
    <div class="content-container">
        <div class="information-card">
            <p>Blockchain</p>
            <img src="../../../assets/fact-icons/blockchain.png" alt="">
            <p>What is a blockchain in simple words? Blockchain defined: Blockchain is a shared, immutable ledger that facilitates the process of recording transactions and tracking assets in a business network. An asset can be tangible (a house, car, cash, land) or intangible (intellectual property, patents, copyrights, branding).</p>
    
        </div>
        <div class="information-card">
            <p>Decentralization</p>
            <img src="../../../assets/fact-icons/decentralized.png" alt="">
            <p>In blockchain, decentralization refers to the transfer of control and decision-making from a centralized entity (individual, organization, or group thereof) to a distributed network.</p>
            
        </div>
        <div class="information-card">
            <p>Fiat</p>
            <img src="../../../assets/fact-icons/fiat-money.png" alt="">
            <p>In blockchain, decentralization refers to the transfer of control and decision-making from a centralized entity (individual, organization, or group thereof) to a distributed network.</p>
        </div>
    </div>
   
</section>
