<footer>
    <div class="social">
      <p>Follow me on social media</p>
      <ul class="wrapper">
        <a href="#" target="_blank">
          <li class="icon linkedin">
            <span class="tooltip">LinkedIn</span>
            <span><i class="fab fa-linkedin"></i></span>
          </li>
        </a>
        <a href="#" target="_blank">
          <li class="icon github">
            <span class="tooltip">GitHub</span>
            <span><i class="fab fa-github"></i></span>
          </li>
        </a>
        <a href="#" target="_blank">
          <li class="icon facebook">
            <span class="tooltip">Facebook</span>
            <span><i class="fab fa-facebook-f"></i></span>
          </li>
        </a>

      </ul>
    </div>
  </footer>
