

h2 {
    text-align: center;
    color: aqua;
}

.container {
    width:80%;
    margin: 0 auto;
    text-align: center;
   
}

.container .img-container {
    width: 40%;
    height: 30%;
    text-align: center;
    margin: 0 auto;
}

.container .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    border: solid aqua;
}

p {
   color: aqua;
   font-size:large;
   width: 50%;
  
}

.content {
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid aqua;
    border-radius: 2rem;
    margin-top: 30px;
    flex-direction: column;
    padding: 20px;
}

.content .buttons {
   width: 50%;
   display: flex;
   justify-content: space-evenly;
}

.content img {
    width: 40px;
    padding: 0;
    margin: 0;
    cursor: pointer;
 }

 .likes{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
 }

 #love-icon {
    width: 30px;
    height: 30px;
 }

 