
<div class="cards-list">
  
    <div class="card 1">
      <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
      <div class="card_title title-white">
        <a href="">Read more</a>
      </div>
    </div>

    <div class="card 1">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
          <a href="">Read more</a>
        </div>
      </div>

      <div class="card 1">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
          <a href="">Read more</a>
        </div>
      </div>

      <div class="card 1">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
          <a href="">Read more</a>
        </div>
      </div>

      <div class="card 1">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
          <a href="">Read more</a>
        </div>
      </div>

    </div>